<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Only by now selecting “Always Allow” below can you continue to stay up to date with last-minute schedule changes, security alerts and more relevant contextual messages based on your location during the event</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allowing us to use your Bluetooth, we can provide a better experience for indoor navigation during the event</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allowing us to use your Bluetooth, we can provide a better experience for indoor navigation during the event</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Only by now selecting “Always Allow” below can you continue to stay up to date with last-minute schedule changes, security alerts and more relevant contextual messages based on your location during the event</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>By selecting “Allow While Using App" below you can stay up to date with last-minute schedule changes, security alerts and more relevant contextual messages based on your location during the event</string>
	<key>NSMotionUsageDescription</key>
	<string>Allowing us to access your Motion, you will have a better experience using the navigation and receiving notifications which match your location during the event</string>
	<key>Only by now selecting “Always Allow” below can you continue to stay up to date with last-minute schedule changes, security alerts and more relevant contextual messages based on your location during the event</key>
	<string>We need access to your location when the app is in background</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
